@font-face {
  font-family: "TTlakes";
  src: url(/assets/fonts/TTLakes-Thin.woff);
}
@font-face {
  font-family: "TTlakes-bold";
  src: url(/assets/fonts/TTLakes-Bold.woff);
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.main {
  margin: 0;
  height: 100%;

}
.up-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  
  
  

}
.left-group {
  display: flex;
  align-items: center;
  position: relative;
  left: 2%;
}
.right-group {
  display: flex;
  align-items: center;
  position: relative;
  right: 5%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.ridth-2 {
  display: flex;
  flex-direction: row;
  display: none;
}
.repair-2,
.checkstatus-2 {
  display: none;
  /* display: flex;
  align-items: center;
  font-family: ttlakes;
  padding: 0 0.5rem; */
}
button {
  border: none;
  background: none;
}
.vertical-line {
  border-left: 2px solid gray;
  height: 32px;
  margin: 0 4%;
  opacity: 0.2;
}
.background {
  background-color: rgba(243, 239, 239, 0.82);
  padding: 1rem 0;
  display: flow-root;
  min-height: 100vh;
}
.title {
  font-family: TTlakes-bold;
  border-left: 5px solid rgba(65, 246, 215, 1);
  border-radius: 2px;
  padding: 0.1rem 0.8rem;
  align-items: center;
  justify-content: flex-start;
}
.slide-menu form {
  display: flex;
  gap: 4px;
}
.slide-menu label {
  flex-shrink: 0;
  white-space: nowrap;
  min-width: 160px;
}
.slide-menu {
  font-family: ttlakes;
  display: flex;
  font-size: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 3% 0.5%;
  color: gray;
  white-space: nowrap;
  position: relative;
  right: 3%;
}
.slide-menu input {
  opacity: 0;
  width: 0;
}
.slide-menu--text {
  font-size: 20px;
  padding: 0.5rem;
}
.slide-menu input:checked + .slide-menu--text {
  border: 3px solid rgba(184, 255, 236, 1);
  background-color: white;
  border-radius: 2px;
}
.text-1 {
  display: none;
}
.slide-menu::-webkit-scrollbar {
  display: none;
}
.content {
    display: flex;
  font-family: ttlakes;
  line-height: 160%;
  color: black;
  font-size: 21px;
  flex-direction: column;
  align-items: strech;
  padding: 1rem;
  align-items: center;
}
.content--first {
display: flex;
   justify-content: center;
   align-items: flex-start; 
   flex-direction: column;
   color: rgba(27, 28, 33, 1);
}

.content--second {
  padding-top: 1.5rem;
  color: rgba(27, 28, 33, 1);
}
.read-more {
  padding: 1.5rem 1rem;
  font-family: ttlakes;
  font-size: 20px;
  display: flex;
}
.main-img {
  width: 110%;
  overflow: hidden;
  padding-top: 1rem;
  
}
.main-img img {
    width: 110%;
    height: auto;
    display: block;

}
.left-line,
.call-img,
.chat-img,
.profile-img {
  display: none;
}
.content--second {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#toggleBtn {
    display: flex;
align-items: center;
justify-content: center;
}
label:hover, button:hover {
    cursor: pointer;
}

@media (min-width: 784px) {
  .left-line,
  .call-img,
  .chat-img,
  .profile-img {
    display: block;
  }
  .up-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .right-group {
    position: relative;
    right: 5%;
  }
  
  
  .content {
    display: flex;
    flex-direction: row;
    
    
  }
  .content--first, .content--second {
    width: 50%;
  }
  .content--second {
    width: 100%;
  }
  .main-img {
    width: 50%;
  }
  .main-img img{
    
    height: 290px;
    
  }
  .content--second {
    -webkit-line-clamp: 2;
  }
  .repair-2, .checkstatus-2 {
    display: none;
  }
  .up-menu {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .up-menu {
    display: none;
  }
  .ridth-2, .repair-2, .checkstatus-2{
    display: flex;
    align-items: center;
    font-family: ttlakes;
    padding: 0 0.5rem;
  }
  .text-1 {
    display: block;
  }
  .content--second {
    -webkit-line-clamp: 4;
  }
  
 
  
  .main-img img {
    width: 720px;
    height: 400px;
   
  }
  .text-2 {
    display: none;
  }
  .text-1 {
    display: block;
  }
  .background {
    margin-top: 0;
  }
  .slide-menu {
    margin-top: 0.2%;
    margin-left: 5%;
  }
}
