@font-face {
    font-family:"TTlakes" ;
    src: url(/assets/fonts/TTLakes-Thin.woff) ;
   
}
@font-face {
    font-family:"TTlakes-bold" ;
    src: url(/assets/fonts/TTLakes-Bold.woff) ;
   
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.servise {
    background-color: red;
    width: 100vw;
    max-width:none;
    margin: 0;
    height: 100vh;
    
  }
.up-menu {
  display: flex;
  justify-content: space-between
}
.left-group {
    display: flex;
    align-items: center;
    padding: 0.5rem;

}
.right-group {
    display: flex;
    align-items: center;
    padding:0 2rem;
    
}
button {
    border: none;
    background: none;
}
/* .burger-img {
    width: 40px;
    height: 40px;
}
.cps-img {
    width: 96.55px;
    height: 50.81px;
} */
.vertical-line {
    border-left: 2px solid gray;
    height: 32px;
    margin: 0 4%;
    opacity: 0.2;
}
.background{
    display:inline;
    background-color: rgba(243, 239, 239, 0.82);
    padding: 1rem 0;
    margin: 3% 0;
    display: flow-root;
   
}
.title {
 font-family:TTlakes-bold ;
font-size: 190%;
 border-left: 5px solid rgba(65, 246, 215, 1) ;
border-radius: 2px;
padding:0.1rem 0.8rem;
align-items: center;
justify-content:flex-start;
}
.slide-menu form {
    display: flex;
    gap: 7px;
}
.slide-menu label {
    flex-shrink: 0;
    white-space: nowrap;
    min-width: 160px;
}
.slide-menu {
font-family: ttlakes;
display: flex;
font-size:150%;
overflow-x: auto;
overflow-y: hidden;
margin: 3% 2%;
color:gray;
/* flex-direction: row; */
white-space: nowrap;

/* width: 504px;
height: 40px; */

/* flex-wrap:nowrap; */
/* align-content: space-around; */


}

.slide-menu input {
    /* position: absolute; */
    opacity: 0;
    width: 0;

}
.slide-menu--text {
/* padding: 0 0.7rem; */
font-size: 20px;
}
.slide-menu input:checked + .slide-menu--text {
    border: 3px solid rgba(184, 255, 236, 1);
    background-color: white;
    border-radius: 2px;
    /* padding:0.5px; */
    
    
}
.slide-menu::-webkit-scrollbar {
    display: none;

}
.content {
    padding:0 2rem;
    font-family: ttlakes;
    line-height: 160%;
    color: black;
    font-size: 20px;
}
.content--second{
    padding-top:1.5rem;
}
.read-more {
    padding: 1.5rem 1rem;
    font-family: ttlakes;
    font-size: 20px;
    display: flex;
}
.main-img {
    margin: 0;
display: flex;
    justify-content: flex-start;
}
@media (max-width: 320px) {
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .text-1 {
        display: none;
    }
    .left-line, .call-img, .chat-img, .profile-img, .content--second{
        display: none;
    }
  
  .content {
    width: 100%;git
  }
  .slide-menu {
    
  }
}
